<header class="row" id="cabecalho">  <!--Cabeçalho -->
  <div class="container">
    <h1 style="text-align: center;">Wall-e</h1>
  </div>
</header>

<div class="row centralizada">
  <div id="conversa">
    <div *ngFor="let item of messagesList">
      <div id="usuario">{{item.user}}</div><br>
      <div id="bot">{{item.bot}}</div><br>
    </div>
  </div>
  <form [formGroup]="authForm" (ngSubmit)="onSubmit(authForm.value)" (keyup.enter)="onSubmit(authForm.value)">
    <input formControlName="message" class="formulario col-md-10" [ngClass]="{ 'is-invalid': submitted && f.message.errors }" type="text" placeholder="Digite aqui...">
    <div *ngIf="submitted && f.message.errors">
        <div *ngIf="f.message.errors.minlength">A frase está muito curta</div>
    </div>
    <button type="submit" class="btn btn-info col-md-2" style="margin-top:6px ;">Enviar</button>
  </form>
</div>
